@font-face {
    font-family: poppins medium;
    src: url(POPPINS/Poppins-Medium.ttf);
    font-family: poppins bold;
    src: url(POPPINS/Poppins-Bold.ttf);
}
    
    
    
    body {
    background: linear-gradient(rgba(8, 0, 30, 1),rgba(153, 0, 255, 1));
    height: 100vh;
}


.head {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    font-family: poppins medium ;
    padding: 15px;
}

.about {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; ;
    padding: 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: calc(4px + 16px); /* Fixed border radius with some padding */
}

.image img {
    width: 7%; /* Image width set to 100% of its parent */
     position: absolute; /* Makes the image absolute relative to .image */
    bottom: 0; /* Positions the bottom edge of the image at the bottom of .image */
    left: 50%; /* Positions the horizontal center of the image at 50% */
    transform: translateX(-50%); /* Adjusts the position to center horizontally */
    z-index: 1; /* Set a higher z-index to bring the image above the footer */
    margin-bottom: 20%;
  
      
  }
  

.my-footer {
    background :linear-gradient(rgba(108, 0, 184, 1),rgba(34, 0, 70, 1));
    color: #fff; /* Set text color */
    padding: 20px; /* Add padding */
    position: fixed; /* Makes the footer fixed to the bottom */
    bottom: 0; /* Positions it at the bottom of the viewport */
    width: 100%; /* Ensures it stretches across the entire width */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
  



  